#about-us {
  padding: 15px;
}

#about-us .container {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #979eff;
}
#about-us img {
  padding: 15px;
  width: 200px;
  background-color: rgb(233, 235, 255);
  transition: 0.3s;
}
#about-us img:hover {
  -webkit-transform: scale(1.009);
  transform: scale(1.008);
  cursor: pointer;
  box-shadow: 6px 6px 0px 0px rgb(21 31 102 / 16%);
}
