body::after {
  position: absolute;
  content: '';
  z-index: -1;
  opacity: 0.07;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(asset/illustrator/pattern.svg);
}

/* nabvar */
.navbar {
  box-shadow: 0px 1px 0px 0px #979eff;
}
.navbar-light .navbar-nav .nav-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #323232;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #423fff;
}
/* last navbar */

/* slide 1 build website And Apps with national standards with us */

#slide-1 {
  width: 95%;
  height: 700px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: chartreuse; */
}
.container-text {
  width: 693px;
}
.img-slide-1 {
  width: 762.41px;
  height: 450.58px;
}
/* last slide 1 */

/* slide 2 */

#slide-2 {
  width: 95%;
  height: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: blueviolet; */
}
#slide-2 img {
  width: 706.56px;
  height: 571.41px;
}
#slide-2 .container-text {
  width: 530px;
  height: 461px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: chartreuse; */
}
#slide-2 .box {
  width: 530px;
  height: 203px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
  border: 1px solid #979eff;
  transition: 0.3s;
  border-radius: 10px;
}
#slide-2 .box:hover {
  -webkit-transform: scale(1.009);
  transform: scale(1.008);
  cursor: pointer;
  box-shadow: 6px 6px 0px 0px rgb(21 31 102 / 16%);
}
#slide-2 .box .text {
  width: 61px;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background-color: chocolate; */
}

/* last slide 2 */

/* slide 3*/

#slide-3 {
  width: 95%;
  height: 676.61px;
}
#slide-3 .container {
  margin: auto;
  height: 100%;
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
  padding: 0;
  flex-direction: column;
}
#slide-3 .box-project {
  width: 1090px;
  height: 435.61px;
  display: flex;
  justify-content: space-between;
}
#slide-3 .project {
  width: 504px;
  height: 435.61px;
  padding: 23px;
  background: #ffffff;
  border: 1px solid #979eff;
  border-radius: 10px;
  transition: 0.3s;
}
#slide-3 .project:hover {
  -webkit-transform: scale(1.009);
  transform: scale(1.008);
  cursor: pointer;
  box-shadow: 6px 6px 0px 0px rgb(21 31 102 / 16%);
}
#slide-3 .box-img-1 {
  width: 458.4px;
  height: 290.68px;
  border-radius: 10px;
  background-image: url(asset/project/project\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#slide-3 .box-img-2 {
  width: 458.4px;
  height: 290.68px;
  border-radius: 10px;
  background-image: url(asset/project/project\ 2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* slide 3 */

/* slide 4 */

#slide-4 {
  width: 95%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#slide-4 .container-text {
  width: 530px;
  height: 666px;
}
#slide-4 .box {
  width: 530px;
  /* height: 568px; */
}
#slide-4 .box-contain {
  width: 530px;
  height: 125px;
  display: flex;
  align-items: center;
}
#slide-4 .box-img-1 {
  width: 72px;
  height: 72px;
  position: relative;
  overflow: hidden;
  background-image: url(asset/illustrator/terpercaya.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 3px;
  background-position-x: 1px;
  border-radius: 50%;
}
#slide-4 .box-img-2 {
  width: 72px;
  height: 72px;
  position: relative;
  overflow: hidden;
  background-image: url(asset/illustrator/creative.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 3px;
  background-position-x: 1px;
  border-radius: 50%;
}
#slide-4 .box-img-3 {
  width: 72px;
  height: 72px;
  position: relative;
  overflow: hidden;
  background-image: url(asset/illustrator/profesional.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 3px;
  background-position-x: 1px;
  border-radius: 50%;
}
#slide-4 .box-img-4 {
  width: 72px;
  height: 72px;
  position: relative;
  overflow: hidden;
  background-image: url(asset/illustrator/service.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 3px;
  background-position-x: 1px;
  border-radius: 50%;
}
#slide-4 .box-img-1::after,
#slide-4 .box-img-2::after,
#slide-4 .box-img-3::after,
#slide-4 .box-img-4::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #bbbaff;
}
#slide-4 .text {
  width: 423px;
  height: 125px;
}
#slide-4 img {
  width: 683px;
  height: 417.43px;
}
/* last slide 4 */

/* slide 5 */
#slide-5 {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#slide-5 img {
  width: 660px;
  height: 435.22px;
}
#slide-5 .box-contain {
  width: 550px;
}
#slide-5 .box {
  width: 490px;
  height: 350px;
  padding: 6px;
  overflow-y: scroll;
}
#slide-5 .box-service {
  width: 440px;
  height: 350px;
  padding: 21px;
  background: #ffffff;
  border: 1px solid #979eff;
  border-radius: 10px;
  transition: 0.3s;
}
#slide-5 .box-service:hover {
  -webkit-transform: scale(1.009);
  transform: scale(1.008);
  cursor: pointer;
  box-shadow: 6px 6px 0px 0px rgb(21 31 102 / 16%);
}
#slide-5 .img-1 {
  width: 377.95px;
  height: 189.89px;
  background-image: url(asset/illustrator/website.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
#slide-5 .img-2 {
  width: 387px;
  height: 174.11px;
  background-image: url(asset/illustrator/apps.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
/* last slide 5 */

/* slide 6 */
#slide-6 {
  width: 95%;
}
#slide-6 .contain {
  width: 80%;
  margin: auto;
  padding: 30px;
  box-sizing: content-box;
  border-radius: 10px;
  background-color: #423fff;
}
#slide-6 .p2 {
  color: #f0f0f0;
}
#slide-6 .h2 {
  color: #ffffff;
}
#slide-6 .h4 {
  color: #ffffff;
}
#slide-6 .p3 {
  color: #f0f0f0;
}
/* last slide 6 */

/* footer */
footer {
  width: 100%;
  height: 400px;
  background-color: #ffffff;
  border-top: 1px solid #979eff;
}
footer .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
footer .contain {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}
footer .box {
  display: flex;
}
footer .h4 {
}
footer .p3 {
}
/* last footer */

/* Large devices (desktops and up) */

@media (min-width: 992px) {
  .navbar {
    height: 70px;
  }
  .navbar-nav {
    width: 550px;
    height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #slide-1 {
    margin-top: 70px;
  }
}

/* dekstop and less */
@media (min-width: 1200px) {
  /* slide 4 */
  #slide-4 img {
    width: 576px;
    height: 352.03px;
  }
  /* last slide 4 */
}

/* tablet and less */
@media (max-width: 1000px) {
  #slide-1 {
    width: 834px;
    height: 870px;
    margin-top: 117px;
    flex-direction: column-reverse;
  }
  .img-slide-1 {
    width: 726px;
    height: 429.06px;
  }
  .container-text {
    width: 80%;
  }

  /* slide 2 */

  #slide-2 {
    width: 95%;
    height: 1262px;
    flex-direction: column;
  }

  /* slide 2 */

  /* slide 3 */

  #slide-3 {
    height: auto;
  }
  #slide-3 .container {
    height: 1322px;
  }
  #slide-3 .box-project {
    width: 504px;
    height: 953.21px;
    flex-direction: column;
  }
  /* slide 3 */

  /* slide 4 */

  #slide-4 {
    height: 1241px;
    flex-direction: column-reverse;
  }
  #slide-4 img {
    width: 637px;
    height: 389.31px;
  }

  /* last slide 4 */

  /* slide 5 */
  #slide-5 {
    height: 1180px;
    flex-direction: column;
  }

  #slide-5 img {
    width: 660px;
    height: 435.22px;
  }
  /* last slide 5 */

  /* footer */

  footer .margin-left-100 {
    margin-top: 40px;
    margin-left: 40px;
  }
  footer .contain {
    flex-direction: column;
  }
  footer .box {
    align-items: baseline;
  }

  /* last footer */
}

/* phone and less */
@media (max-width: 680px) {
  #slide-1 {
    width: 95%;
    height: 868px;
  }
  #slide-1 .container-text {
    width: 90%;
  }
  .img-slide-1 {
    width: 345px;
    height: 203.89px;
  }

  /* slide 2 */
  #slide-2 {
    width: 95%;
    height: 999px;
  }
  #slide-2 img {
    width: 363.44px;
    height: 293.93px;
  }
  #slide-2 .container-text {
    width: 330px;
  }
  #slide-2 .box {
    width: 335px;
    height: 135px;
  }
  #slide-2 .text {
    width: 300px;
  }
  /* slide 2 */

  /* slide 3 */
  #slide-3 .container {
    width: 328px;
    height: 930px;
  }
  #slide-3 .box-project {
    width: 328px;
    height: 648.98px;
  }
  #slide-3 .project {
    width: 328px;
    height: 298.49px;
    padding: 16px;
  }
  #slide-3 .project .margin-top {
    margin: 0;
  }
  #slide-3 .box-img-1,
  #slide-3 .box-img-2 {
    width: 298.33px;
    height: 189.17px;
  }
  /* slide 3 */

  /* slide 4 */

  #slide-4 {
    width: 419px;
    height: 1090px;
    flex-direction: column-reverse;
  }
  #slide-4 img {
    width: 339px;
    height: 207.19px;
  }
  #slide-4 .container-text {
    width: 330px;
    height: auto;
  }
  #slide-4 .box-contain {
    height: auto;
  }
  #slide-4 .text {
    width: 230px;
    height: auto;
  }
  /* last slide 4 */

  /* slide 5 */
  #slide-5 img {
    width: 335.14px;
    height: 221px;
  }
  #slide-5 .box-contain {
    width: 330px;
  }
  #slide-5 .box {
    width: 292.52px;
    height: auto;
    overflow: visible;
  }
  #slide-5 .box-service {
    width: 285px;
    height: 354px;
  }
  #slide-5 .img-1 {
    width: 244.9px;
    height: 123.04px;
  }
  #slide-5 .img-2 {
    width: 243px;
    height: 109.33px;
  }

  /* last slide 5 */

  /* footer */
  footer {
    height: 800px;
  }
  footer .container {
    /* width: 350px; */
  }
  footer .box {
    flex-direction: column;
  }
  footer .text {
    margin-top: 40px;
    margin-left: 0;
  }

  /* last footer */
}
